[submodule "src/Synorvia.UI.DataModels"]
	path = src/Synorvia.UI.DataModels
	url = https://github.com/synorvia-editor/Synorvia.UI.DataModels.git
	branch = dev
[submodule "src/Synorvia.UI.BlazorComponents"]
	path = src/Synorvia.UI.BlazorComponents
	url = https://github.com/synorvia-editor/Synorvia.UI.BlazorComponents.git
	branch = dev
[submodule "src/MDD4All.DME.AssemblyTree"]
	path = src/MDD4All.DME.AssemblyTree
	url = https://github.com/synorvia-editor/MDD4All.DME.AssemblyTree.git
	branch = dev
[submodule "src/MDD4All.Configuration"]
	path = src/MDD4All.Configuration
	url = https://github.com/oalt/MDD4All.Configuration.git
[submodule "src/Synorvia.FileAccess.Contracts"]
	path = src/Synorvia.FileAccess.Contracts
	url = https://github.com/synorvia-editor/Synorvia.FileAccess.Contracts.git
	branch = dev
[submodule "src/Synorvia.FileAccess.WPF"]
	path = src/Synorvia.FileAccess.WPF
	url = https://github.com/synorvia-editor/Synorvia.FileAccess.WPF.git
	branch = dev
[submodule "src/MDD4All.AssemblyLoading.Contracts"]
	path = src/MDD4All.AssemblyLoading.Contracts
	url = https://github.com/synorvia-editor/MDD4All.AssemblyLoading.Contracts.git
	branch = dev
[submodule "src/MDD4All.Localization"]
	path = src/MDD4All.Localization
	url = https://github.com/synorvia-editor/MDD4All.Localization.git
	branch = dev
[submodule "src/MDD4All.Reflection.TypeAnalyzer"]
	path = src/MDD4All.Reflection.TypeAnalyzer
	url = https://github.com/synorvia-editor/MDD4All.Reflection.TypeAnalyzer.git
	branch = dev
[submodule "src/MDD4All.UI.Blazor"]
	path = src/MDD4All.UI.Blazor
	url = https://github.com/synorvia-editor/MDD4All.UI.Blazor.git
	branch = dev
[submodule "src/MDD4All.DME.Views"]
	path = src/MDD4All.DME.Views
	url = https://github.com/synorvia-editor/MDD4All.DME.Views.git
	branch = dev
[submodule "src/MDD4All.DME.ViewModels"]
	path = src/MDD4All.DME.ViewModels
	url = https://github.com/synorvia-editor/MDD4All.DME.ViewModels.git
	branch = dev
[submodule "src/MDD4All.Person.DataModels"]
	path = src/MDD4All.Person.DataModels
	url = https://github.com/oalt/MDD4All.Person.DataModels.git
	branch = dev
[submodule "src/MDD4All.DME.AssemblyLoading"]
	path = src/MDD4All.DME.AssemblyLoading
	url = https://github.com/synorvia-editor/MDD4All.DME.AssemblyLoading.git
	branch = dev
[submodule "src/MDD4All.DME.DataAccess"]
	path = src/MDD4All.DME.DataAccess
	url = https://github.com/synorvia-editor/MDD4All.DME.DataAccess.git
	branch = dev
[submodule "src/MDD4All.DME.DataModels"]
	path = src/MDD4All.DME.DataModels
	url = https://github.com/synorvia-editor/MDD4All.DME.DataModels.git
	branch = dev
[submodule "src/MDD4All.DME.Proxies"]
	path = src/MDD4All.DME.Proxies
	url = https://github.com/synorvia-editor/MDD4All.DME.Proxies.git
	branch = dev
[submodule "src/MDD4All.DME.App.Wpf"]
	path = src/MDD4All.DME.App.Wpf
	url = https://github.com/synorvia-editor/MDD4All.DME.App.Wpf.git
	branch = dev
